body,
.tooltip {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.header-bar {
  background-color: #f9322c;
}